html {
  height: 100%;
}

body {
    background: @radialGradient;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
    
  .activity{
    font-size: 4rem;
    display: flex;
    @media @tablet {
      font-size: 3rem;
    }
    @media @mobile {
      font-size: 2.5rem;
    }
  }
  .timerBox{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    @media @tablet {
      flex-direction: column;
    }
    @media @mobile {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .digits {
      border-radius: 30px;
      margin-bottom: 15px;
      padding: 20px;
      @media @tablet {
        margin-bottom: 0;
      }
  
      .digit {
        display: inline-block;
        font-size: 8rem;
        padding: 5px;
      }
    }
    .controlButtons{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 200px;
      @media @tablet{
        flex-direction: row;
        height: auto;
        width: 300px;
        justify-content: space-between;
      }
      @media @mobile {
        order: 2;
        width: auto;
      }

      img {
        height: 70px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }




  .form-row {
    padding: 5px;
    margin: 15px 0;
    border-radius: 10px;
    label {
      font-size: 2rem;
      @media @mobile {
        font-size: 1.6rem;
      }
    }
    select {
      font-size: 1.5rem;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 7px;
      @media @mobile {
        font-size: 1.3rem;
      }

      option {
        font-size: 1.5rem;
        background: orange;
        border-radius: 20px;
        @media @mobile {
          font-size: 1.3rem;
        }
      }
    }
  }
}
}
  

  